#blockchain {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    font-size: 1.1em;
    line-height: 1.3em;
    letter-spacing: 0.075em;
    text-align: justify;
    transition: 2s !important;
    background-color: #f5deb3;
    min-height: 100%;
}

#bcLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    transition: 1s !important;
}

#blockchain:hover {
    background-color: #fff4df;
}

#blockchain:hover > .block {
    margin: 10%;
    background-color: wheat;
    color: #1f1f1f;
    border: 5px solid black;
    font-family: 'Fira Code', monospace;
}

#blockchain:hover > .block {
    opacity: 1;
}

#blockchain:hover > #bcLabel {
    opacity: 0;
}

.block {
    white-space: pre;
    width: 85%;
    height: 85%;
    overflow-y: auto;
    opacity: 1;
    transition: 2s;
    margin: 1%;
    opacity: 0;
    transition: 2s !important;
}

.block > span {
    padding: 0 1%;
    color: white;
}

footer {
    padding-top: 30%;
}

/* #blockchain:hover {
    gap: 15%;
} */

/* #blockchain:hover > .block{
    opacity: 1;
    margin: 0;
    background-color: #f3bd59;
} */

/* #displayer {
    grid-column: 1  / 3;
    grid-row: 1 / 3;
} */